@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #1d2126;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.menu {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border: 2px solid #1d2126;
  border-radius: 5px;
  margin-top: -10px;
}

.menu > li > a {
  display: flex;
  align-items: center;
  line-height: 35px;
  text-decoration: none;
  color: #a4aead;
  padding: 0 8px;
  font-weight: 600;
  font-size: 14px;
}

.menu li:hover {
  height: 25px;
  border: 2px solid gray;
}

.menu li:active {
  height: 25px;
  border: 2px solid #23b7a4;
}

.box-search {
  position: relative;
  display: flex;
  margin-left: 89px;
  height: 55px;
  align-items: center;
  border-radius: 5px;
}

.form-search {
  display: block;
  width: 188px;
  height: 25;
  border: #a4aead 2px solid;
}

input[type="search"] {
  width: 155px;
  height: 25px;
  padding: 0px 10px;
  background-color: #1d2126;
  border: none;
  border-radius: 6px;
  outline: none;
  color: #bbbbbb;
}

.btn-search {
  position: absolute;
  display: block;
  width: 42px;
  height: 25px;
  margin: -25px 108px;
  background: #1d2126;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 6px -11px;
  border: none;
}

/* SLIDER */

#slider {
  background: url(images/img_1.png) no-repeat 50% 50%;
  width: 100%;
}

.slider-cont {
  display: flex;
  align-items: center;
  width: 100%;
}

/* TITLE WELCOME */

.title-text {
  display: flex;
  width: 100%;
  height: 660px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  /* background-size: 100%; */
  /* background-color: yellowgreen; */
}

.title_welcome {
  display: flex;
  color: white;
  font-size: 36px;
  padding: 25px 0px;
  font-family: "Quattrocento", serif;
}

.text {
  color: white;
  padding-top: 3px;
  line-height: 25px;
  font-size: 16px;
}

/* buttons_slider */

.buttons_slider {
  display: flex;
  flex-grow: 0;
  /* background-color:blue; */
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2px 0px;
  align-content: space-between;
}

.btn_slider {
  display: flex;
  width: 120px;
  height: 35px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
  margin: 3px;
  border-radius: 5px;
  font-family: "Quattrocento", serif;
}

.btn_slider:hover {
  background-color: #39a493;
}

/* WE ARE MODEST>>>> */

.box_tet_modest {
  display: flex;
  /* background-color:turquoise; */
  height: 1000px;
  margin-top: -490px;
}
.box-square {
	display: flex;
}

.square {
  width: 10px;
  height: 35px;
  margin: 60px 0px;
  background-color: #e1e6ea;
}

.we_modest_text {
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  padding: 57px 15px;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
}

.square_working {
  width: 10px;
  height: 35px;
  margin: 60px 0px;
  background-color: #4e5a62;
}

.we_modest_text_lovely {
	display: flex;
  align-items: flex-start;
  color:white;
  font-size: 32px;
  padding: 57px 15px;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
}

/* modest-box>>>>>>>>>>>>> */

.modest-box {
  display: flex;
  /* background-color: rgb(224, 165, 36); */
  flex-wrap: wrap;
}

.paragraf-2 {
  margin: 40px 0px;
}

.bold {
  font-weight: bold;
}

.icons_social {
  display: flex;
  width: 300px;
  height: 60px;
  /* background-color: #000000; */
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  border: 1px solid white;
  flex-shrink: 0;
}

/* ICONS>>>>>>>>>>>>>> */

.face {
  background-image: url(images/face.png);
  width: 60px;
  height: 60px;
}

.twitt {
  background-image: url(images/twitt.png);
  width: 60px;
  height: 60px;
}

.google {
  background-image: url(images/goog.png);
  width: 60px;
  height: 60px;
}

.innet {
  background-image: url(images/inn.png);
  width: 60px;
  height: 60px;
}

.be {
  background-image: url(images/be.png);
  width: 60px;
  height: 60px;
}

.btn_1-descript {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-color: #23b7a3;
  color: white;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 20px;
}

/* COLUMN-2>>>>>> */

.modest_column-2 {
  display: flex;
  /* padding-top: 40px; */
}
.descript {
  display: flex;
  margin-bottom: 20px;
}

.h3-title {
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 14px;
}

.text_other {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #8d8f92;
  line-height: 25px;
  padding-bottom: 10px;
}

.hr-1 {
	margin-top: 80px;
}

  /* EET THE TEAM.>>>>>>>>>>>>>>>> */

  .meet_the-team {
	display: flex;
justify-content:space-around;
/* background-color:tomato; */
margin-top: -15px;
padding-bottom: 100px;
margin-left: -15px;
  }


.plashka {
	max-width: 250%;
	height: 75px;
	background-color:#e1e6ea;
	padding: 11px 20px;
	margin-top: -2px;
}

.plashka:hover {
	background-color: #3a454d ;
	color:white;
}


/* NAME AND POST >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.name {
margin: 10px 1px;
font-family: "Quattrocento Sans", sans-serif;
font-size: 16px;
font-weight: bold;
}

.post {
	font-size: 14px;
	color: #8d8f92;
  font-family: "Open Sans", sans-serif;
  margin: -2px 0px;
}


/* ICON_FACE>>>>>>>>>>>>>>>>>>> */

.icons-teams- {
position: absolute;
	display: flex;
	width: 150px;
	height: 65px;
	margin: -178px 52px;
	/* background-color:aquamarine */
}

.square_icon {
	display: none;
	width: 50px;
	height: 50px;
	background-color: #3a454d;
}

.square_icon:hover {
	background-color:rgb(117, 106, 84);
	opacity: 0.7;
}

.photo:hover .square_icon {
	display:block;
}
.post:hover {
	color:white;
}

.photo:hover .plashka {
	display:block;
	background-color: #3a454d ;
	color:white;
}

.photo:hover .post {
	color:white;
}

/* LOVELY_WORK>>>> */

#working {
	background: #3a454d 
}

.working-cont {
	display: flex;
	height: auto;
	margin-top: -15px;
}

.pictures {
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

.picture {
margin: 25px 55px;
}


.teo_colum {
	margin-left: 50px;
}

.picture > a > img {
	max-width:100%
}

.plashka-2 {
	display: flex;
	background-color: #292f36;
	width:96%;
	height: 60px;
	margin-top: -2px;
}

.guidlines {
	color: white;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 20px;
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .we_modest_text {
    font-size: 36px;
	
  }

  .box_tet_modest {
    display: flex;
    margin-top: -547px;
  }
  .menu {
    height: 50px;
  }

  .box-search {
    position: relative;
    display: flex;
    height: 55px;
    margin-left: 0px;
    align-items: center;
  }

  .form-search {
    display: block;
    width: 120px;
    height: 25;
    border: #a4aead 2px solid;
    border-radius: 5px;
  }

  input[type="search"] {
    width: 110px;
    height: 25px;
    padding: 0px 10px;
    background-color: #1d2126;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #bbbbbb;
  }

  .btn-search {
    position: absolute;
    display: block;
    width: 42px;
    height: 25px;
    margin: -25px 67px;
    background: #1d2126;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 6px -11px;
    border: none;
  }

  .descript {
  display: flex;
  margin-bottom: 4px;
}

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .title-text {
    align-items: center;
	 padding-bottom: 220px;
  }

  .buttons_slider {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 80px;
    margin-left: 1px;
  }

  .btn_slider {
    height: 40px;
  }

  .icons_social {
	padding: 100px 15px;
  }

    .meet_the-team {
	  flex-wrap: wrap;	  
  }


  .plashka {
	  width: 264px;
  }

.photo {
	margin: 15px -15px;
}

.pictures {
	display: flex;
	justify-content: space-around;
padding: 0px 0px;
margin-right: 5px;
}

.picture {
	margin: 15px -15px;
}

.plashka-2 {
width:100%
}
}

/* laptop */
@media (min-width: 992px) {
  .container {
    display: flex;
  }

  .menu {
    display: flex;
    height: 50px;
    align-items: center;
  }

  .title-text {
    align-items: center;
  }

  .box_tet_modest {
    display: flex;
    height: 1000px;
    margin-top: -468px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .we_modest_text {
    font-size: 36px;
  }

  .box_tet_modest {
    display: flex;
    height: 1000px;
    margin-top: -200px;
  }

  .title-text {
    align-items: center;
  }

  .buttons_slider {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 80px;
    margin-left: 1px;
    flex-direction: row;
  }
  .btn_slider {
    display: flex;
    height: 40px;
    align-self: center;
    text-align: center;
  }

  .logo {
    display: flex;
    height: 55px;
    align-items: center;
  }

  .menu {
    display: flex;
    height: 55px;
    align-items: center;
  }

  .menu li {
    display: flex;
    margin: 0px 5px;
    justify-content: center;
    border: 2px solid #1d2126;
    border-radius: 5px;
  }

  .menu li:hover {
    margin: 0px 5px;
    border: 2px solid gray;
  }

  .menu li:active {
    height: 25px;
    border: 2px solid #23b7a4;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .box-search {
    position: relative;
    display: flex;
    margin-left: 89px;
    height: 55px;
    align-items: center;
    border-radius: 5px;
  }

  .form-search {
    display: block;
    width: 188px;
    height: 25;
    border: #a4aead 2px solid;
  }

  input[type="search"] {
    width: 155px;
    height: 25px;
    padding: 0px 10px;
    background-color: #1d2126;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #bbbbbb;
  }

  .btn-search {
    position: absolute;
    display: block;
    width: 42px;
    height: 25px;
    margin: -25px 108px;
    background: #1d2126;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 6px -11px;
    border: none;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .photo {
margin-left: 15px;
}

.plashka-2 {
width:95.5%
}

}

/* only mobile */
@media (max-width: 767px) {
  .col-xs-hidden {
    display: none;
  }


  .title-text {
    align-items: center;
	 padding-bottom: 281px;
  }

  .title_welcome {
    font-size: 28px;
  }

  .menu {
    overflow: scroll;
  }
  .logo {
    display: flex;
    justify-content: center;
  }

  .buttons_slider {
	  padding: 25px;
  }

  .btn_slider {
	  margin-top: 15px;
  }

  .box_tet_modest {
    display: flex;
    margin-top: -480px;
  }

  .modest-box {
    display: flex;
    flex-wrap: wrap;
  }

  .modest_column-2 {
	padding-top: 100px;
}

.meet_the-team {
flex-wrap: wrap;
justify-content: flex-start;
/* background-color:tomato; */
margin: -25px 5px;
}

.photo {
	width: 100%;
	margin: 20px 0px;

}

.icons_social {
	padding: 93px 0px;
}

.plashka {
	width: 264px;
}

.icons_social {
    margin: -74px 0px;
  }

  .picture > a > img {
	width: 100%;
}

.pictures {
	display: flex;
}

.working-cont {
	margin: 0px 25px;
}

.plashka-2 {
width:100%;
}

.guidlines {
margin-top: 11px;
margin-left: 4px;
}

}

 /* @media (max-width: 374px) {
 
  .icons_social {
    margin: -74px 0px;
  } */
